/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #1c1cff;
    --ifm-color-primary-dark: #0000ff;
    --ifm-color-primary-darker: #0000f1;
    --ifm-color-primary-darkest: #0000c6;
    --ifm-color-primary-light: #3838ff;
    --ifm-color-primary-lighter: #4646ff;
    --ifm-color-primary-lightest: #7171ff;
    --ifm-background-color: #ebebeb;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #798afd;
    --ifm-color-primary-dark: #546afc;
    --ifm-color-primary-darker: #425afc;
    --ifm-color-primary-darkest: #0a29fb;
    --ifm-color-primary-light: #9eaafe;
    --ifm-color-primary-lighter: #b0bafe;
    --ifm-color-primary-lightest: #e8ebff;
    --ifm-background-color: #16171d;
}
